# Week 1 - Catch-up Session #1

Date: 13/08/2020

Topics covered:
1. Python syntax
2. Data structures
3. For loops
4. String operations
5. Functions

## 1. Python syntax

What's wrong here?

In [1]:
for i in [1,2,3]:
    print(i)

1
2
3

Or here?

In [2]:
5 = b
10 = a
c = a + b

SyntaxError: cannot assign to literal (<ipython-input-2-4e6bd4207350>, line 1)

Is this ok?

In [5]:
x = 1 + 2 + 19494 + 484838 + 323
y = 1 + 2
z             =        1    +                2

print(x)
print(y)
print(z)

504658
3
3

What does **+=**, **-=**, *=  etc. mean?

In [9]:
my_sum = 0
for i in [1,2,3,4,5]:
    my_sum = my_sum + i
print(my_sum)

# is the same like

my_sum_2 = 0    
for i in [1,2,3,4,5]:
    my_sum_2 += i
print(my_sum_2)

15
15

A few words on the print-function

In [10]:
print('hello world') # Python 3.x

hello world

In [11]:
print 'hello world' # Python 2.x

SyntaxError: Missing parentheses in call to 'print'. Did you mean print('hello world' # Python 2.x)? (<ipython-input-11-25d77d747fac>, line 1)

### 1.0 Indentation

Does this work?

In [12]:
if 5 > 2:
 print("Five is greater than two!")
if 5 > 2:
    print("Five is greater than two!")

Five is greater than two!
Five is greater than two!

Is this ok?

In [14]:
for i in [1,2,3]:
print(i)

IndentationError: expected an indented block (<ipython-input-14-d5fb8fa98281>, line 2)

And this?

In [18]:
if 5 > 2:
    print("Five is greater than two!")
    if 20 < 10:
        print("Five is greater than two!")
        print('Hello')

Five is greater than two!

* Indentation is essential in Python (not so much in other languages), has functional purpose!

### 1.1. Parenthesis for grouping or calling!

In [19]:
# grouping
2 * (3 + 4)

# calling (a function)
print("Hello World")

Hello World

### 1.2. Square brackets for lists, and referencing to dictionary keys, pandas columns ...

In [27]:
# A list
my_list = [1, 2, 3, 4]

# Referencing to a dictionary
my_dict = {'a': 2, 'b':7}
print(my_dict['a'])

# referencing to a Pandas column
import pandas as pd
my_df = pd.DataFrame({'a':[2,9,3], 'b':[7,2,1]}, index=[1,2,3])

my_df['a']

2

1    2
2    9
3    3
Name: a, dtype: int64

In [28]:
my_df

   a  b
1  2  7
2  9  2
3  3  1

## 2. Data Structures - Lists & Dicts
- 90% of the time we will be using Lists or Dictionaries
- It's possible to iterate on them (great for looping)

In [30]:
# import libraries
import numpy as np

### 2.1 Lists vs Arrays

In [33]:
list_1 = [1, 'Ironhack', [10, 'is', 'cool'], 6]
array = np.array([1, 2, 3])

In [37]:
list_1[2]

[10, 'is', 'cool']

In [ ]:
# 1. How many elements
# 2. Access elements
# 3. Types of the elements

### 2.2 Dicts

In [38]:
dict_1 = {'Name': 'Coder',
        'Age': 30,
        'Hobbies': ['Learn', 'Run scripts', 'Solve syntax errors']}

In [39]:
dict_1.keys()

dict_keys(['Name', 'Age', 'Hobbies'])

In [44]:
for key, value in dict_1.items():
    print(key, value)

Name Coder
Age 30
Hobbies ['Learn', 'Run scripts', 'Solve syntax errors']

In [ ]:
# 1. Access values
# 2. Get keys
# 3. Types of the elements

## 3. For loops

In [46]:
b = np.array([[[0.55867166, 0.06210792, 0.08147297],
        [0.82579068, 0.91512478, 0.06833034]],

       [[0.05440634, 0.65857693, 0.30296619],
        [0.06769833, 0.96031863, 0.51293743]],

       [[0.09143215, 0.71893382, 0.45850679],
        [0.58256464, 0.59005654, 0.56266457]],

       [[0.71600294, 0.87392666, 0.11434044],
        [0.8694668 , 0.65669313, 0.10708681]],

       [[0.07529684, 0.46470767, 0.47984544],
        [0.65368638, 0.14901286, 0.23760688]]])

### 3.1 Access elements to get an understanding

In [48]:
b[3][0][0]

0.71600294

In [50]:
b.shape

(5, 2, 3)

### 3.2 Old school for loop

### 3.3 Print() to understand

In [ ]:
## exercice where we do not understand what is going on (1 error)

### 3.4 While loop

In [51]:
# 1. Where is the error
# 2. How to use for loop to get even numbers from 0 to 5

i = 0

while i % 2 == 0:
  print(i)
  i += 1

0

In [55]:
i=0
while i < 20:
    if i % 2 == 0:
        print(i)
    i+=1

0
2
4
6
8
10
12
14
16
18

In [ ]:
bool(1 % 2)

## 4. String operations

In [56]:
my_str = 'Hello World'

In [57]:
my_str2 = '...and hello universe'

In [58]:
my_str + my_str2

'Hello World...and hello universe'

In [59]:
for letter in my_str:
    print(letter + "__")

H__
e__
l__
l__
o__
 __
W__
o__
r__
l__
d__

In [66]:
my_str[::-2]

'drWolH'

In [61]:
my_str[2:6]

'llo '

In [67]:
len(my_str)

11

In [68]:
'Hello'.endswith('o')

True

In [69]:
'Hello'.startswith('He')

True

In [76]:
age = 232343254
print('I am', age, 'years old')
print(f'I am {age} years old')

I am 232343254 years old
I am 232343254 years old

In [79]:
year = 2035
planet = 'Earth'
apocalypse_string = f'It\'s the year {year}. {planet} is a desolated wasteland'
apocalypse_string

"It's the year 2035. Earth is a desolated wasteland"

In [78]:
apocalypse_string.split()

["It's", 'the', 'year', '2035.', 'Earth', 'is', 'a', 'desolated', 'wasteland']

In [80]:
apocalypse_string.replace('Earth', 'Mars').split('Mars')

["It's the year 2035. ", ' is a desolated wasteland']

In [81]:
apocalypse_string.replace('Earth', 'Mars')

"It's the year 2035. Mars is a desolated wasteland"

## 5. Functions

In [84]:
def my_function(my_argument1, my_argument2):
    print(my_argument1, my_argument2)
    
my_function("Hello", "Students")

Hello Students

In [85]:
def my_function():
    return 5 + 8

my_function()

13

In [87]:
def my_function:
    return 10

SyntaxError: invalid syntax (<ipython-input-87-0a0569642824>, line 1)

In [88]:
def my_function(a, b, c=5, d=10):
    return a + b + c + d

my_function(10, 4)

29

In [93]:
my_function(10, 4, d=50)

69

In [94]:
my_function(c=10, d=4, 11, 10)

SyntaxError: positional argument follows keyword argument (<ipython-input-94-177de842c024>, line 1)

In [101]:
constant_a = 10

def new_function(x):
    constant_a = 10
    return 2 * constant_a

In [99]:
print(constant_a)

0

In [102]:
new_function(10)

20

In [103]:
def new_function2(x):
    return x*2

def new_function3(x):
    return x + 5

print(new_function2(new_function3(3)))

16